@import "modules/navbar.module.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Light', 'Open Sans', sans-serif;
  font-size: 16px;
}
:root{
  --white: #fff;
  --black: #000000;
  --grey-1: #f9f9f9;
  --grey-2: #f1f1f1;
  --blue-hover:#007bff;
  --blue-main: #007bff;
  --mc-color:#4d8dcb;
  --clr-pro:#87b87f;
  /*--clr-standard:#428bca;*/
  --clr-judet:#6fb3e0;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --radius-2: 2px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*utils*/
.mt5 { margin-top: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }
.mt15 { margin-top: 15px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }

.mb15 { margin-bottom: 15px; }
.mb20 {margin-bottom: 20px;}
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }

.ml20 { margin-left: 20px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb100 { margin-bottom: 100px; }

.mr50 { margin-right: 50px; }
.ml50 { margin-left: 50px; }
.mr45 { margin-right: 45px; }
.ml45 { margin-left: 45px; }

.mr40 { margin-right: 40px; }
.ml40 { margin-left: 40px; }

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }

.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }

.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }


.pt30 { padding-top: 30px; }
.pl40 { padding-left: 40px; }
.pr40 { padding-right: 40px; }
.pr35 { padding-right: 35px; }

.pt10 { padding-top: 10px; }
.pt50 { padding-top: 50px; }
.pb50 { padding-bottom: 50px; }
.pb10 { padding-bottom: 10px; }
.pr10 { padding-right: 10px; }
.pl10 { padding-left: 10px; }

.pt25 { padding-top: 25px; }
.pb25 { padding-bottom: 25px; }

.pl50 { padding-left: 50px; }
.pr60 { padding-right: 60px; }

.font34 { font-size: 34px; }
.font20 { font-size: 20px; }
.font15 { font-size: 15px; }
.font16 { font-size: 16px; }
.font17 { font-size: 17px; }
.font18 { font-size: 18px; }
.font19 { font-size: 19px; }
.font23 { font-size: 23px; }
.font22 { font-size: 22px; }
.font27 { font-size: 27px; }
.font28 { font-size: 28px; }
.font29 { font-size: 29px; }
.font32 { font-size: 32px; }
.font43 { font-size: 43px; }

.uppercase { text-transform: uppercase; }
a {
  text-decoration: none !important;
  color: var(--blue-hover);
  transition: var(--transition);
}
a:hover{
  color:var(--blue-main) ;
}
/*.buton{*/
/*  color: red !important;*/
/*}*/